
body{
    /* margin-top:20px;  */
    /* gives indent space from the top of page */
    background-color: whitesmoke;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    margin-top:10px;
    margin:auto;
    width:97%;
    min-height: calc(100vh - 40px);
    border-radius: 20px;
    /* padding: 40px; */
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px rgb(123, 180, 242);


}

.boldLetter{
    font-size: 26px;
    color:rgb(61, 61, 62);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-style:italic;
    /* background-color: rgb(63, 111, 150); */
    margin-top: 5px;
    margin-bottom: 40px;
    height: 20px;
   
    padding: 30px;
    box-sizing: border-box;
    /* background-color: #f7f7f9;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px rgb(123, 180, 242); */

  
}

   
.wrapper{
    position: relative;
    width: 35%;
    /* background-color: rgb(162, 183, 236); */
   float:right;
   border-radius: 20px;
   /* padding: 40px; */
   box-sizing: border-box;
   background-color: whitesmoke;
   box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px rgb(123, 180, 242);
   margin-top: 20px;
   font-size: 21px;;
   /* scroll-margin-left: auto; */
}
table{
    position: relative;
	margin-top: 50px;
	text-align: center;
	background: whitesmoke;
	color: #1d1d1d;
    border-radius: none;
    border-style: round;
    border-color: whitesmoke;
}


#tableDisp {
    position: relative;
	padding: 16px;
    background-color: whitesmoke;
}

#tableDisp th {
    position: relative;
	padding: 16px;
    background-color: whitesmoke;
}

#tableDisp td{
    position: relative;
    background-color: whitesmoke;
	padding: 16px;
}



#buttonClick td input{
	width: 100%;
    
}

.fileUpload{

   
        position: relative;
        /* width: 60%; */
        /* background-color: rgb(162, 183, 236); */
       float:left;
        border-color: black;
        border-radius: 10px;
       /* padding: 40px; */
      
       background-color: rgb(48, 42, 42);
       box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px rgb(123, 180, 242);
       margin-top: 20px;
       /* scroll-margin-left: auto; */
    
}

/* #fileDisp{
/* 
    position: relative; */
  
    




.fileDispContainer{

    position: relative;
    float:left;
    background-color: rgb(240, 222, 234);

}