<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<body>
   <!--  id 로 선택자 "id". "password" 라는 선택자 부여완료
     태그 id, password 부여 해줬음. 이유는 .js 에서 queryselector, selector 를 사용하기 위해서,
     'id selector': 특정 id를 가지는 요소(element)를 선택할 때 사용한다.
     아이디 선택자는 #을 사용한다.
     id 는 스타일을 지정할 때 한 가지만 지정해서 쓰는 이름이고, ( 표기방식은 #이름)
    HTML 속성 중 id는 여러 태그 중에, 특정한 태그에 대해 어떤 값을 주기 위함이다.

     <tag id="아이디명"> </tag>
     <tag id="selector"> </tag>
     -->
    <input id ="id"  type="text" placeholder ="user ID2"><br>
    <input id="passWord" type="text" placeholder ="password"><br>
    <button>Log In</button>
</body>
</html>  

