<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
  

    <!-- <script src="/js/home/login.js" defer></script> -->
    <title>Document</title>
</head>
<body>
  <div class="navigationBar">
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/">Optimal calculation: Off Loading</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logIn">Log in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/register">Register</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link " href="/">About us/Customer service</a>
  </li>
  </div>







    <div class="container">
        <div class="brand-logo"></div>
        <div class="brand-title"></div>
        <div class="inputs">
          <label>EMAIL</label>
          <input type="email" placeholder="example@test.com" />
          <label>PASSWORD</label>
          <input type="password" placeholder="Min 6 charaters long" />
          <button type="submit">Register</button>
        </div>
        <!-- <a href="/login">go to login</a> -->
        <a href="/">go to home</a>
      </div>



      <!-- text file input -->
              <!--  -->
             
        
              <!--  -->
          
          <!-- <ul class="navbar_menu"> -->
          
      
              
      <!--         
            </ul> -->
                
        

          
    
</body>
</html> 